body {background: #292929; white-space: nowrap; color: #FFFFFF; line-height: 2}
* {font-family: "Lucida Console", Monaco, monospace}
button {background: #7088df; border-color: #7088df; border-radius: 8px; cursor: pointer; transition: 0.5s}
button:hover {background: #7890e7; box-shadow: 1px 1px 4px}
input,select {background: #292929; color: #FFFFFF; border-width: 1px; border-color: #494949; border-style: solid; transition: 0.3s}
input:hover,select:hover {background: #393939; box-shadow: 1px 1px 4px #000000}
/*input:focus,select:focus {background: #292929 !important; box-shadow: none !important}*/
.ftxt {display: inline}
.emoji {height: 15px}
.username {background-color: rgba(114, 137, 218, .1); color: #7289da; transition: 0.3s}
.username:hover {background-color: rgba(114, 137, 218, .4); color: #c3ccef}
#scores {line-height: normal}
#small {font-size: 10px;}
#htxt {padding-left: 1ch}
#btxt {padding-left: 2ch}
/* i did a compact thing */